JupyterP
data
madgraph_data
lhcb-b2jpsik
styles/
*.sty
**/.build/*.aux
**/.build/*.bbl
**/.build/*.blg
**/.build/*.fdb_latexmk
**/.build/*.fls
**/.build/*.log
**/.build/*.out
**/.build/*.synctex.gz
**/*.zip
**/*.rar
**/.venv/
**/__pycache__/
%OUTDIR%/
**/.build/*.toc
**/.build/*.bib
tex
csv